@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

article {
    display: inline-block;
    background-color: #EAD8C7;
    width: 300px;
    padding: 32px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.5);
}

img {
    box-sizing: border-box;
    width: 100%;
    border-radius: 50%;
    border: 10px solid #A96D61;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Oleo Script Swash Caps', sans-serif;
    font-size: 75px;
    text-align: center;
    color: #A96D61;
    margin: 0;

}