/*Geef het article-element een display: inline-block; om te voorkomen dat dit element over de volledige breedte van de pagina strekt.
Wijs de juiste kleuren toe aan de elementen. Er is gebruik gemaakt van de kleuren #A96D61 (tekst- en randkleur), #EAD8C7 (badge-kleur).                                                                                                                                                                           De rand van de afbeelding moet 8 pixels breed zijn, de afbeelding zelf mag 300 pixels breed zijn. Tip: wanneer je een breedte declareert, wil je bij afbeeldingen niet óók nog eens een hoogte toewijzen. Dit gebeurt al automatisch. Wanneer je dit wel doet, heb je kans dat je de afbeelding onbedoelt uitrekt.
Zorg dat de afbeelding wordt weergegeven als cirkel. Zorg ook dat er ongeveer 10 pixels aan ruimte tussen de afbeelding en de titel komt te staan,
door alleen margin aan de onderkant van de afbeelding toe te passen.
Zorg dat er 32 pixels aan ruimte ontstaat tussen de denkbeeldige rand van het article-element en alle elementen daarbinnen.
Tip: gebruik hier padding voor.
Zorg voor een mooie shaduw achter het article-element.
Het gebruikte lettertype is het Google Font 'Oleo Script Swash Caps'. Dit lettertype krijgt van nature bijna 50 pixels aan margin mee: dat vinden we veel te veel.
Overschrijf dit naar 0.*/
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps:wght@400;700&display=swap');

article {
    display: inline-block;
    background-color: #EAD8C7;
    width: 300px;
    padding: 32px;
    border-radius: 10px;
}

img {
    box-sizing: border-box;
    width: 100%;
    border-radius: 50%;
    border: 10px solid #A96D61;
    margin-bottom: 10px;
}

h2 {
    font-family: 'Oleo Script Swash Caps', sans-serif;
    font-size: 75px;
    text-align: center;
    color: #A96D61;
    margin: 0;

}